<h1>Shops list page</h1>

{{#each shops}}
  <section>
    <h2>{{this.name}}</h2>
    {{!-- <a href="{{this.link}}"> --}}
<<<<<<< HEAD
      <img src="/images/{{this.image}}" alt="{{this.name}}">
=======
      <img src="/images/{{this.image}}" alt="{{this.name}}" style="width:200px;height:auto;">
>>>>>>> 6eb83791093883e9c88191da622849c3509c5156
    {{!-- </a> --}}
    <p><a href="{{this.link}}">{{this.link}}</a></p>
  </section>
{{/each}}







{{!-- img for the logo --}}
{{!-- <img src="/images/{{imageFile}}" alt="{{title}}" /> --}}