<h1>Edit the product: {{product.name}}</h1>

<form action="/products/{{product._id}}/edit" method="post">
    <label> Name:
        <input type="text" name="name" value="{{product.name}}" required />
    </label>

    <label> Description:
        <textarea name="description" cols="30" rows="4" value="{{product.description}}" required>{{product.description}} </textarea>
    </label>

    <label> Discount valid until:
        <input name="expirationDate" type="date" value="{{product.expirationDate}}" required> Current data: {{product.expirationDate}}</input>
    </label>

    <label> Regular price:
        <input type="number" name="fullPrice" min="0.00" step=".01" value="{{product.fullPrice}}" required/>
    </label>

    <label> Price after discount:
        <input type="number" name="discountPrice" min="0.00" step=".01" value="{{product.discountPrice}}" required/>
    </label>

    <label> Select a tag:

        <input type="radio" value="food" name="tags" required>
        <label for="html">food</label>
        <input type="radio" value="non-food" name="tags" required>
        <label for="html">non-food</label>

        <label> Shop:
            <select name="shop" required>
                {{#each shops}}
                <option value={{this._id}}>{{this.name}}</option>
                {{/each}}
            </select>
        </label>


      {{!-- <label>Upload file
           <input type="file" name="imageUrl" />
           <input type="text" name="existingImage" hidden value="{{imageUrl}}"> 
      </label> --}}


        <button>Save changes</button>
</form>