<h1>Products list page</h1>
<div class="container">
<div class="row">

{{#each products}}
<div class="col-12 col-md-6 col-lg-4 col-xl-3">
    <div class="card">
  <img src="{{this.imageUrl}}" class="card-img-top" alt="product image">
  <div class="card-body">
    <h5 class="card-title">{{this.name}} </h5>
    <p class="card-title">Shop: {{this.shop.name}} </p>
    <p class="card-text">{{this.description}} </p>
    <p class="card-text fw-light">Regular Price: € {{this.fullPrice}}</p>
    <p class="card-text fw-bold">Price after discount: € {{this.discountPrice}}</p>
    <p class="card-text">Discount valid until: {{this.expirationDate}} </p>
    <p class="card-text"> Category: {{this.tags}} </p>
    <a href="/products/{{this._id}}" class="btn btn-primary">More details</a>
  </div>
</div>
</div>

    {{!-- <section>
        <h2>{{this.name}}</h2>
        <p>
            Shop: {{this.shop.name}} <br />
            Description: {{this.description}} <br />
            Regular Price: {{this.fullPrice}} <br />
            Price after discount: {{this.discountPrice}} <br />
            Valid until: {{this.expirationDate}} <br />
            Cathegory: {{this.tags}} <br />
            image: <img src=" {{this.imageUrl}}" alt="product image"/>

            <a href="/products/{{this._id}}">More details</a>
        
        </p>

    </section> --}}
{{/each}}

</div>
</div>